.input {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

.label {
  position: relative;
  padding-left: 25px;
  font-size: 18px;
  cursor: pointer;
}

.label:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 16px;
  height: 16px;
  top: 1px;
  border: solid 2px #ccc;
  border-radius: 3px;
  transition: all ease-in-out 0.125s;
}

.label:after {
  content: "";
  position: absolute;
  top: 11px;
  left: 5px;
  transform: rotate(-45deg);
  transform-origin: left;
  width: 12px;
  height: 5px;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transition: transform 0.125s ease-in-out;
}

.input:checked + .label:before {
  background-color: #074dbf;
  border-color: #074dbf;
}

.input:checked + .label:after {
  transform: rotate(-45deg) scaleX(1);
}
